{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <h4 class="mt-2 ml-2">Pull requests</h4>

                <div class="accordion" id="accordion-pull-requests" data-url="{{ url('ajax_pr_reload') }}">
                    {% include 'github/pull-request/filtersPullRequests.html.twig' %}
                </div>
            </div>

            <div class="col-sm">
                <h4 class="mt-2 ml-2">Notifications</h4>

                <div class="accordion" id="accordion-notifs" data-url="{{ url('ajax_notif_reload') }}">
                    {% include 'github/pull-request/filtersNotifications.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    {% if reloadEvery > 0 and not reloadOnFocus %}
        <div class="row text-center next-reload-container">
            <div class="col-sm">
                <small>
                    Next reload in: <span id="next-reload"></span>s
                </small>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js"
            integrity="sha256-i265HmNQ6FYdanwd4Tvt6Phby2Ht/9KOGQ3cromZq5Y=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/keypress/2.1.5/keypress.min.js"
            integrity="sha256-qg3jI3zMsMmV79xDeYaABwUsh4qC15jOC58KvcQ+OzI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        const LOCALSTORAGE_KEY = 'collapses';
        const RELOAD_ON_FOCUS = {{ reloadOnFocus ? 'true' : 'false' }};
        const RELOAD_EVERY = {{ reloadEvery }};
    </script>
    <script src="/js/pull-request.js"></script>
{% endblock %}
