{% extends 'base.html.twig' %}

{% block title %}
    {{ openPullRequests|keys|first }} - {{ parent() }}
{% endblock %}

{% block body %}
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% for repo, sortedPullRequests in openPullRequests %}
            <a class="nav-item nav-link {% if loop.first %}active{% endif %}" id="nav-{{ repo|slugify }}-tab"
                    data-toggle="tab" href="#nav-{{ repo|slugify }}" role="tab" aria-controls="nav-{{ repo|slugify }}"
                    aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
                    data-repo="{{ repo }}">
                {{ repo }}
            </a>
        {% endfor %}
    </div>
</nav>

<div class="tab-content" id="nav-tab-content">
    {% for repo, sortedPullRequests in openPullRequests %}
        <div class="tab-pane fade {% if loop.first %}show active{% endif %}"
                id="nav-{{ repo|slugify }}" role="tabpanel" aria-labelledby="nav-{{ repo|slugify }}-tab">

            <div class="container-fluid">
                {% for label, pullRequests in sortedPullRequests %}
                    {% if loop.index == 1 or loop.index == 3 %}
                        <div class="row">
                    {% endif %}

                    <div class="col-sm">
                        <div class="list-group label label-group-{{ label|slugify }}">
                            {% set type = 'primary' %}
                            {% if loop.index == 2 %}
                                {% set type = 'success' %}
                            {% elseif loop.index == 3 %}
                                {% set type = 'warning' %}
                            {% elseif loop.index == 4 %}
                                {% set type = 'danger' %}
                            {% endif %}

                            <div class="list-group-item list-group-item-{{ type }}">
                                {{ label }}
                            </div>

                            <div class="list-group-items">
                                {% if pullRequests|length > 0 %}
                                    {% for pullRequest in pullRequests %}
                                        <a href="{{ pullRequest.html_url }}" class="list-group-item list-group-item-action" target="_blank">
                                            <img src="{{ pullRequest.user.avatar_url }}" class="float-left rounded" title="Pull request from: {{ pullRequest.user.login }}">
                                            <span class="ml-3">
                                                {{ pullRequest.title }}
                                            </span>

                                            <span class="badge badge-secondary float-right" title="Pull request updated at:">
                                                {{ pullRequest.updated_at|date('Y-m-d H:i') }}
                                            </span>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <div class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">
                                        No pull request in <strong>{{ label|lower }}</strong>.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    {% if loop.index == 2 or loop.index == 4 %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(function($){
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                let newRepo = $.trim($(e.target).text());
                let oldRepo = $.trim($(e.relatedTarget).text());

                let $title = $('head').find('title');

                let title = $.trim($title.text());
                title = title.replace(oldRepo, newRepo);

                $title.text(title);
            });
        });
    </script>
{% endblock %}
