{% for repository, sortedPullRequests in openPullRequests %}
    <div class="card">
        <div class="card-header p-0" id="heading-pr-{{ repository|slug }}">
            <button class="btn btn-link" type="button" data-target="#collapse-pr-{{ repository|slug }}"
                    aria-expanded="true" aria-controls="collapse-pr-{{ repository|slug }}">
                {{ repository }} <strong>({{ sortedPullRequests|length }})</strong>
            </button>
        </div>

        <div id="collapse-pr-{{ repository|slug }}" data-count="{{ sortedPullRequests|length }}"
                class="collapse {{ sortedPullRequests|length > 0 ? 'show' : '' }}"
                aria-labelledby="heading-pr-{{ repository|slug }}" data-parent="#accordion-pull-requests">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-items">
                        {% for pullRequest in sortedPullRequests %}
                            <a href="{{ pullRequest.getUrl() }}"
                                    class="list-group-item list-group-item-action" target="_blank">
                                <img src="{{ pullRequest.getUser().getAvatarUrl() }}"
                                        class="float-left rounded"
                                        title="Pull request from: {{ pullRequest.getUser().getLogin() }}">

                                <span class="ml-3 text-success">
                                    #{{ pullRequest.getNumber() }}
                                </span>

                                <span class="ml-3">
                                    {{ pullRequest.getTitle() }}
                                </span>

                                <div class="absolute-right">
                                    {% if pullRequest.getBase() is not null %}
                                        <span class="badge badge-{{ pullRequest.getBranchColor() }}">
                                            {{ pullRequest.getHead() }}
                                        </span>
                                    {% endif %}
                                </div>
                            </a>
                        {% else %}
                            <div class="list-group-item list-group-item-action disabled" aria-disabled="true">
                                No pull request for this repository.
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
