<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Github PR Review{% endblock %}</title>

        <link rel="shortcut icon" type="image/png" href="{{ asset('imgs/favicon.png') }}">

        {% block stylesheets %}
            <link title="defaut" type="text/css" rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
            <link title="defaut" type="text/css" rel="stylesheet" href="{{ asset('css/libs/bootstrap/bootstrap.min.css', 'v') }}"
                    media="screen">
            <link title="defaut" type="text/css" rel="stylesheet" href="{{ asset('css/fonts/feather.css') }}"
                    media="screen">
            <link title="defaut" type="text/css" rel="stylesheet" href="{{ asset('css/libs/overhang/overhang.min.css') }}" media="screen">
        {% endblock %}

        <meta charset="utf-8">
        <meta http-equiv="content-language" content="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="github, pull, request, pull request, code review, github gui">
        <meta name="description" content="Stop wasting time on code review">
        <meta name="revisiter-after" content="7 days">
        <meta name="robots" content="all">
    </head>

    <body>
        <button class="btn btn-rounded-circle btn-primary" id="back-to-top">
            <i class="fe fe-arrow-up"></i>
        </button>

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">
                    <img src="{{ asset('imgs/logo.svg') }}" class="navbar-brand-img" alt="Github PR Review">
                    <span class="text-primary ml-2">Github PR Review</span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}#how_to_use">How to use</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}#self_hosted">Self hosted</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('home') }}#fork_me">Fork me</a>
                        </li>
                    </ul>

                    {% if app.getUser() is null %}
                        <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="{{ path('oauth_login') }}">
                            Login with Github
                        </a>
                    {% else %}
                        <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="{{ path('pull_requests_list') }}">
                            View pull requests
                        </a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <footer class="py-8 py-md-11 bg-gray-200">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <img src="{{ asset('imgs/logo-black.svg') }}" height="20" alt="Github PR Review" class="footer-brand mb-2">
                        <span class="ml-1">Github PR Review</span>

                        <p class="text-muted mb-2">
                            Stop wasting time on code review.
                        </p>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 pt-2 pt-md-0 pt-lg-0 text-left text-md-right text-lg-right">
                        <p class="text-muted">
                            &copy; {{ "now"|date('Y') }} <a href="https://www.babeuloula.fr" target="_blank">BaBeuloula</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="{{ asset('js/libs/overhang/overhang.min.js') }}"></script>
            <script src="{{ asset('js/base.js', 'v') }}"></script>
            {% include 'flashBag.html.twig' %}
        {% endblock %}
    </body>
</html>
